@page
@model MovieTime.Pages.SiteManagementModel
@{
    ViewData["Title"] = "ניהול האתר";
}

<ul>
    <li><a asp-page="/Admin/AddMovie">הוסף סרט</a></li>
    <li><a asp-page="/Admin/AddScreening">הוסף הקרנה</a></li>
</ul>