@page
@model IndexModel
@{
    ViewData["Title"] = "מי אנחנו";
}

<div class="text-center">
    <p dir="rtl">MovieTime הוא בית קולנוע חדשני ומעוצב אשר מספק ללקוחותיו את חווית הקולנוע הטובה ביותר בישראל</p>
</div>
